files:
  "/etc/nginx/conf.d/01_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_header_buffer_size 64k;
      large_client_header_buffers 8 64k;
      client_max_body_size 50M;

container_commands:
  01_reload_nginx:
    command: "service nginx reload || true" 